*{
	margin: 0
	padding:0;
	box-sizing: border-box;
}
.main-visual{
	width: 100%;
	height: 400px;
	/*padding削除*/
	background-image: url(img/mv.jpg);
	background-size: cover;
	background-position: bottom;
}

.header-text{
	/*padding追加*/
	/*その他コード削除*/
	padding: 20px;
}

/*main追加*/
main{
	margin: 50px auto;
	width: 840px;
}
/*margintopからbottomに変更*/
.blog-box-1{
	margin-bottom:30px;
	border-bottom: 1px solid silver;
	padding-bottom: 30px;
}

.blog-box-2{
	margin-bottom: :30px;
	border-bottom: 1px solid silver;
	padding-bottom: 30px;
}

.blog-box-3{
	margin-top: 30px;
	border-bottom: 1px solid silver;
	padding-bottom: 30px;
}

.blog-box-4{
	margin-top:30px;
	border-bottom: 1px solid silver;
	padding-bottom: 30px;
}

