*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*clearfix追加*/
.clearfix::after {
  content:"";
  display:block;
  clear:both;
}

header {
	width: 100%;
	padding: 20px 0;
	text-align: center;
}

.hedaer-text{
	font-size: 32px;
}

.nav-list{
	text-align: center;
	padding: 15px 0;
	margin: 0 auto;
	border-bottom: 1px solid #848282;
    border-top: 1px solid #848282;
}
.nav-list-item{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}

.main{
	width: 800px;
	margin: 50px auto;
}

.main-1{
	width: 200px;
	height: 200px;
	background-color: #e6ffe9;
	float: left;
}
.main-2{
	width: 200px;
	height: 200px;
	background-color: #cbffd3;
	float: left;
}
.main-3{
	width: 200px;
	height: 200px;
	background-color: #aeffbd;
	float:left;
}
.main-4{
	width: 200px;
	height: 200px;
	background-color: #93ffab;
	float: left;
}
.main-5{
	width: 200px;
	height: 200px;
	background-color: #f3ffd8;
	float: left;
}
.main-6{
	width: 200px;
	height: 200px;
	background-color: #edffbe;
	float: left;
}
.main-7{
	width: 200px;
	height: 200px;
	background-color: #e9ffa5;
	float: left;
}
.main-8{
	width: 200px;
	height: 200px;
	background-color:#e4ff8d;
	float: left;
}
.main-9{
	width: 200px;
	height: 200px;
	background-color: #d9e5ff;
	float: left;
}
.main-10{
	width: 200px;
	height: 200px;
	background-color: #bad3ff;
	float: left;
}
.main-11{
	width: 200px;
	height: 200px;
	background-color: #a4c6ff;
	float: left;
}
.main-12{
	width: 200px;
	height: 200px;
	background-color: #8eb8ff;
	float: left;
}
footer{
	width: 100%;
	height: 120px;
	text-align: center;
	background-color: #848282;
	line-height: 120px;
}
/*footer-text追加*/
.footer-text{
	color:white;
}