*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
.main-visual-1{
	width: 100%;
	height: 200px;
	background-image: url(img/box1.jpg);
}
.main-visual-2{
 	width: 100%;
 	height: 200px;
 	background-image: url(img/box2.jpg);
 }

 .main-visual-3{
 	width: 100%;
 	height: 200px;
 	background-image: url(img/box3.jpg);
 }

 .main-visual-4{
 	width: 100%;
 	height: 200px;
 	background-image: url(img/box4.jpg);
 }