*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
/*メイン*/
main{
	width: 960px;
	margin: 50px auto;
}
/*各ボックス*/
.step{
	width: 300px;
	padding: 10px;
	margin-right: 30px;
	border:1px solid #f5f5f5;
	float: left;
	position: relative;
}
/*ボックスが最後になったらmarginを０にする*/
.step:last-child{
	margin: 0;
}

.img-box-1{
	height: 150px;
	background-image: url(img/flow01.png);
	background-position: bottom;
	background-size: cover;
}

.img-box-2{
	height: 150px;
	background-image: url(img/flow02.png);
	background-position: bottom;
	background-size: cover;
}

.img-box-3{
	height: 150px;
	background-image: url(img/flow03.png);
	background-position: bottom;
	background-size: cover;
}
/*各ボックスの左上のタグ*/
.step-box{
	position: absolute;
	top: 0;
	left: 0;
	background-color: orange;
	color: white;
	padding: 3px ;
}

.title{
	margin:15px 0 10px;
}



